body {
  background-color: #219c90;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  margin: 0;
  padding: 0;
  font-family: "Bubblegum Sans", sans-serif;
}

/* MainPage */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-size: 8rem;
  font-weight: bolder;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

span:nth-child(1) {
  color: #e9b824;
  display: inline-block;
  transform: rotate(10deg) translateX(15px);
}

span:nth-child(2) {
  color: #ffe382;
  display: inline-block;
  transform: translate(5px, 20px);
}
span:nth-child(3) {
  color: #87c4ff;
  display: inline-block;
  transform: rotate(-20deg) translateY(20px);
}
span:nth-child(4) {
  color: #27005d;
  display: inline-block;
  transform: translate(2px, 10px);
}
span:nth-child(5) {
  color: #a6ff96;
  display: inline-block;
  transform: rotate(-10deg) translateY(-20px);
}
span:nth-child(6) {
  color: #ffb6d9;
  display: inline-block;
  transform: rotate(20deg) translateX(-10px);
}
span:nth-child(8) {
  color: #9336b4;
  display: inline-block;
  transform: rotate(-10deg) translateX(35px);
}
span:nth-child(9) {
  color: #ffbfa9;
  display: inline-block;
  transform: rotate(5deg) translate(20px, -10px);
}
span:nth-child(10) {
  color: #39b5e0;
  display: inline-block;
  transform: translate(10px, 10px);
}
span:nth-child(11) {
  color: #16ff00;
  display: inline-block;
  transform: rotate(15deg) translateX(-18px);
}
span:nth-child(12) {
  color: #2192ff;
  display: inline-block;
  transform: rotate(-15deg) translate(-40px, 10px);
}
span:nth-child(13) {
  color: #3ec70b;
  display: inline-block;
  transform: rotate(10deg) translateX(-40px);
}
span:nth-child(14) {
  color: #fc2947;
  display: inline-block;
  transform: translate(-50px, 30px);
}
span:nth-child(15) {
  color: #ed6663;
  display: inline-block;
  transform: rotate(-10deg) translate(-70px, -25px);
}
span:nth-child(16) {
  color: #aa14f0;
  display: inline-block;
  transform: translateX(-80px);
}
span:nth-child(17) {
  color: #709053;
  display: inline-block;
  transform: rotate(25deg) translate(-90px, 30px);
}

.container-box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.main-letter {
  width: 250px;
  height: 250px;
  border: solid 5px #fff5ee;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.main-image {
  height: 250px;
  width: 300px;
  background-color: inherit;
  object-fit: fill;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.canvas {
  width: 250px;
  height: 250px;
  border: solid 5px #fff5ee;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 0.5803571428571428) 100%
  );
}

.main-image:hover {
  -webkit-transform: scale(1);
  transform: scale(1.5);
}

.main-number {
  width: 250px;
  height: 250px;
  border: solid 5px #fff5ee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

/* Components */

.container {
  margin-top: 4rem;
}

.button-container {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  margin: 1rem 13rem;
  padding: 7rem;
}

#btn {
  border: solid;
  border-radius: 10px;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9b824;
  color: #fff5ee;
  margin: 12px;
  font-size: x-large;
  font-weight: 800;
  font-family: "Bubblegum Sans", sans-serif;
  cursor: pointer;
}

#btn:active {
  background-color: #ee9322;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.switch {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 250px;
  right: 40px;
  background-color: #e9b824;
  color: #fff5ee;
  border: solid;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.switch:hover {
  -webkit-transform: scale(1);
  transform: scale(1.5);
}

.switch-alpha {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 250px;
  left: 40px;
  background-color: #e9b824;
  color: #fff5ee;
  border: solid;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.switch-alpha:hover {
  -webkit-transform: scale(1);
  transform: scale(1.5);
}

/* Modal */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 700px;
  height: 500px;
  background-color: #fbfcf8;
  border-radius: 10px;
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body > h1 {
  padding: 1rem 5rem;
  font-size: 200px;
  color: #1f4172;
  filter: drop-shadow(0px 0px 5px #e1e2df);
}

.image-container {
  display: grid;
}

.modal-image {
  padding: 1rem;
  height: 150px;
  width: 200px;
  object-fit: contain;
}

label {
  text-align: center;
  font-size: 3rem;
}

.modal-close {
  padding: 10px;
  float: right;
}

.button {
  background: transparent;
  border: none;
  font-size: 3rem;
}

/* Canvas */
.canvas-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  /* Main Page */
  span:nth-child(1) {
    color: #e9b824;
    display: flex;
    transform: rotate(0) translateX(0);
  }

  span:nth-child(2) {
    color: #ffe382;
    display: flex;
    transform: translate(0);
  }
  span:nth-child(3) {
    color: #87c4ff;
    display: flex;
    transform: rotate(0) translateY(0);
  }
  span:nth-child(4) {
    color: #27005d;
    display: flex;
    transform: translate(0);
  }
  span:nth-child(5) {
    color: #a6ff96;
    display: flex;
    transform: rotate(0) translateY(0);
  }
  span:nth-child(6) {
    color: #ffb6d9;
    display: flex;
    transform: rotate(0) translateX(0);
  }
  span:nth-child(8) {
    color: #9336b4;
    display: flex;
    transform: rotate(0) translateX(0);
    text-indent: 25px;
  }
  span:nth-child(9) {
    color: #ffbfa9;
    display: flex;
    transform: rotate(0) translate(0);
  }
  span:nth-child(10) {
    color: #39b5e0;
    display: flex;
    transform: translate(0);
  }
  span:nth-child(11) {
    color: #16ff00;
    display: flex;
    transform: rotate(0) translateX(0);
  }
  span:nth-child(12) {
    color: #2192ff;
    display: flex;
    transform: rotate(0) translate(0);
  }
  span:nth-child(13) {
    color: #3ec70b;
    display: flex;
    transform: rotate(0) translateX(0);
  }
  span:nth-child(14) {
    color: #fc2947;
    display: flex;
    transform: translate(0);
  }
  span:nth-child(15) {
    color: #ed6663;
    display: flex;
    transform: rotate(0) translate(0);
  }
  span:nth-child(16) {
    color: #aa14f0;
    display: flex;
    transform: translateX(0);
  }
  span:nth-child(17) {
    color: #709053;
    display: flex;
    transform: rotate(0) translate(0);
  }

  .title {
    font-size: 2.5rem;
  }

  .container-box {
    display: grid;
    gap: 10px;
    margin-top: 1rem;
  }

  .main-letter {
    width: 150px;
    height: 150px;
  }

  .main-number {
    width: 150px;
    height: 150px;
  }

  .canvas {
    width: 150px;
    height: 150px;
  }

  .main-image {
    height: 150px;
    width: 200px;
  }

  /* Component */

  #btn {
    height: 50px;
    width: 50px;
    margin: 5px;
  }

  .button-container {
    margin: 13rem 0;
    padding: 0;
  }

  .switch {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 30px;
    right: 20px;
  }

  .switch-alpha {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 30px;
    left: 20px;
  }

  /* Modal */

  .modal-content {
    width: 350px;
    height: 450px;
  }

  .modal-body {
    margin-top: 3rem;
    margin-left: 4rem;
  }
  .modal-body > h1 {
    padding: 0;
    font-size: 150px;
  }

  .modal-image {
    height: 80px;
    width: 105px;
  }

  label {
    font-size: 2rem;
  }

  .image-container {
    margin-left: 2rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* Main Page */
  span:nth-child(1) {
    color: #e9b824;
    display: flex;
    transform: rotate(0) translateX(0);
  }

  span:nth-child(2) {
    color: #ffe382;
    display: flex;
    transform: translate(0);
  }
  span:nth-child(3) {
    color: #87c4ff;
    display: flex;
    transform: rotate(0) translateY(0);
  }
  span:nth-child(4) {
    color: #27005d;
    display: flex;
    transform: translate(0);
  }
  span:nth-child(5) {
    color: #a6ff96;
    display: flex;
    transform: rotate(0) translateY(0);
  }
  span:nth-child(6) {
    color: #ffb6d9;
    display: flex;
    transform: rotate(0) translateX(0);
  }
  span:nth-child(8) {
    color: #9336b4;
    display: flex;
    transform: rotate(0) translateX(0);
    text-indent: 40px;
  }
  span:nth-child(9) {
    color: #ffbfa9;
    display: flex;
    transform: rotate(0) translate(0);
  }
  span:nth-child(10) {
    color: #39b5e0;
    display: flex;
    transform: translate(0);
  }
  span:nth-child(11) {
    color: #16ff00;
    display: flex;
    transform: rotate(0) translateX(0);
  }
  span:nth-child(12) {
    color: #2192ff;
    display: flex;
    transform: rotate(0) translate(0);
  }
  span:nth-child(13) {
    color: #3ec70b;
    display: flex;
    transform: rotate(0) translateX(0);
  }
  span:nth-child(14) {
    color: #fc2947;
    display: flex;
    transform: translate(0);
  }
  span:nth-child(15) {
    color: #ed6663;
    display: flex;
    transform: rotate(0) translate(0);
  }
  span:nth-child(16) {
    color: #aa14f0;
    display: flex;
    transform: translateX(0);
  }
  span:nth-child(17) {
    color: #709053;
    display: flex;
    transform: rotate(0) translate(0);
  }

  .title {
    font-size: 4rem;
  }

  .container-box {
    display: grid;
    gap: 15px;
    margin-top: 5rem;
  }

  .main-letter {
    width: 250px;
    height: 250px;
  }

  .main-number {
    width: 250px;
    height: 250px;
  }

  .canvas {
    width: 250px;
    height: 250px;
  }

  .main-image {
    height: 250px;
    width: 300px;
  }

  /* Component */

  #btn {
    height: 70px;
    width: 70px;
    margin: 5px;
  }

  .button-container {
    margin: 13rem 0;
    padding: 9rem;
  }

  .switch {
    position: fixed;
    width: 70px;
    height: 70px;
    top: 40px;
    right: 30px;
  }

  .switch-alpha {
    position: fixed;
    width: 70px;
    height: 70px;
    top: 40px;
    left: 30px;
  }

  /* Modal */

  .modal-content {
    width: 450px;
    height: 450px;
  }

  .modal-body {
    margin-top: 3rem;
    margin-left: 4rem;
  }
  .modal-body > h1 {
    padding: 0;
    font-size: 150px;
  }

  .modal-image {
    height: 80px;
    width: 105px;
  }

  label {
    font-size: 2rem;
  }

  .image-container {
    margin-left: 2rem;
  }
}
