body {
  background-color: #219c90;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  margin: 0;
  padding: 0;
  font-family: "Bubblegum Sans", sans-serif;
}

/* MainPage */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  margin-top: 5rem;
  font-size: 8rem;
  font-weight: bolder;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

span:nth-child(1) {
  color: #e9b824;
  display: inline-block;
  transform: rotate(10deg) translateX(15px);
}

span:nth-child(2) {
  color: #ffe382;
  display: inline-block;
  transform: translate(5px, 20px);
}
span:nth-child(3) {
  color: #87c4ff;
  display: inline-block;
  transform: rotate(-20deg) translateY(-15px);
}
span:nth-child(4) {
  color: #27005d;
  display: inline-block;
  transform: translate(2px, 10px);
}
span:nth-child(5) {
  color: #a6ff96;
  display: inline-block;
  transform: rotate(-10deg) translateY(-20px);
}
span:nth-child(6) {
  color: #ffb6d9;
  display: inline-block;
  transform: rotate(20deg) translateX(-10px);
}
span:nth-child(8) {
  color: #9336b4;
  display: inline-block;
  transform: rotate(-10deg) translateX(15px);
}
span:nth-child(9) {
  color: #ffbfa9;
  display: inline-block;
  transform: rotate(5deg) translate(2px, -10px);
}
span:nth-child(10) {
  color: #39b5e0;
  display: inline-block;
  transform: translate(1px, 10px);
}
span:nth-child(11) {
  color: #16ff00;
  display: inline-block;
  transform: rotate(15deg) translateX(-20px);
}
span:nth-child(12) {
  color: #2192ff;
  display: inline-block;
  transform: rotate(-15deg) translate(-35px, 10px);
}
span:nth-child(13) {
  color: #3ec70b;
  display: inline-block;
  transform: rotate(10deg) translateX(-20px);
}
span:nth-child(14) {
  color: #fc2947;
  display: inline-block;
  transform: translate(-10px, 30px);
}
span:nth-child(15) {
  color: #ed6663;
  display: inline-block;
  transform: rotate(-10deg) translate(-5px, -25px);
}
span:nth-child(16) {
  color: #aa14f0;
  display: inline-block;
  transform: translateX(-15px);
}
span:nth-child(17) {
  color: #709053;
  display: inline-block;
  transform: rotate(25deg) translate(-5px, 30px);
}

.main-letter {
  position: fixed;
  width: 250px;
  height: 250px;
  bottom: 100px;
  left: 250px;
  border: solid 5px #fff5ee;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  box-shadow: 32px 32px 64px #1e9084, -32px -32px 64px #24a89c;
}

.main-image {
  height: 250px;
  width: 300px;
  background-color: inherit;
  object-fit: fill;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.main-image:hover {
  -webkit-transform: scale(1);
  transform: scale(1.5);
}

.main-number {
  position: fixed;
  width: 250px;
  height: 250px;
  bottom: 100px;
  right: 250px;
  border: solid 5px #fff5ee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  box-shadow: 32px 32px 64px #1e9084, -32px -32px 64px #24a89c;
}

/* Components */

.container {
  margin-top: 8rem;
}

.button-container {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 1rem 13rem;
  padding: 7rem;
}

#btn {
  border: solid;
  border-radius: 10px;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9b824;
  color: #fff5ee;
  margin: 12px;
  font-size: x-large;
  font-weight: 800;
  font-family: "Bubblegum Sans", sans-serif;
  cursor: pointer;
}

#btn:active {
  background-color: #ee9322;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.switch {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 250px;
  right: 40px;
  background-color: #e9b824;
  color: #fff5ee;
  border: solid;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.switch:hover {
  -webkit-transform: scale(1);
  transform: scale(1.5);
}

.switch-alpha {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 250px;
  left: 40px;
  background-color: #e9b824;
  color: #fff5ee;
  border: solid;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.switch-alpha:hover {
  -webkit-transform: scale(1);
  transform: scale(1.5);
}

/* Modal */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 700px;
  height: 500px;
  background-color: #fdf0f0;
  border-radius: 10px;
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body > h1 {
  padding: 1rem 5rem;
  font-size: 200px;
  color: #1f4172;
  filter: drop-shadow(0px 0px 5px #fadada);
}

.image-container {
  display: grid;
}

.modal-image {
  padding: 1rem;
  height: 150px;
  width: 200px;
  object-fit: contain;
}

label {
  text-align: center;
  font-size: 3rem;
}

.modal-close {
  padding: 10px;
  float: right;
}

.button {
  background: transparent;
  border: none;
  font-size: 3rem;
}
